/*
* {
    border: 1px solid;
}
*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: #333333;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

.navigation li {
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    margin-right: 55px;
    text-transform: uppercase;
}

.myself {
    padding-top: 20px;
}

.intro {
    font-size: 18px;
    font-weight: 600;
}

.intro p {
    margin-bottom: 8px;
}

.portrait {
    width: 100%;
    height: auto;
    overflow: visible;
}

.portrait img {
    border: 5px solid ivory;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 2px grey;
    display: block;
    height: auto;
    max-width: 100%;
}

.divider {
    background: black;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, black, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black, white);
    /* Standard syntax */
    height: 5px;
    width: 100%;
}

.flip {
    display: block;
}

.panel {
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 0;
    font-size: 18px;
    padding-top: 1%;
}

.row {
    padding-left: 20px;
}
